<section class="task-list-section">
    <mat-card class="task-list-card">

        <mat-card-title>{{cardTitle}}</mat-card-title>

        <mat-card *ngFor='let task of (tasks | async)' class="task-list-card">
                <mat-card-content class="task-items">
                    {{task.name}} 
                    <button mat-button class="closeButton">
                            <mat-icon (click)="removeTask(task.id, task.name)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </mat-icon>
                    </button>
                </mat-card-content>

              
        </mat-card>
        
    </mat-card>

</section>
<!-- <router-outlet></router-outlet> -->
